/* For use in src/lib/core/theming/_palette.scss */
//$itg-accent: (
//  50 : #f6fbf2,
//  100 : #e9f4dd,
//  200 : #dbedc7,
//  300 : #cce5b1,
//  400 : #c1e0a0,
//  500 : #b6da8f,
//  600 : #afd687,
//  700 : #a6d07c,
//  800 : #9ecb72,
//  900 : #8ec260,
//  A100 : #ffffff,
//  A200 : #fdfffc,
//  A400 : #e2ffc9,
//  A700 : #d4ffaf,
//  contrast: (
//    50 : #000000,
//    100 : #000000,
//    200 : #000000,
//    300 : #000000,
//    400 : #000000,
//    500 : #000000,
//    600 : #000000,
//    700 : #000000,
//    800 : #000000,
//    900 : #000000,
//    A100 : #000000,
//    A200 : #000000,
//    A400 : #000000,
//    A700 : #000000,
//  )
//);

$itg-accent: (
  50: #eff2f3,
  100: #d8dee2,
  200: #bec8cf,
  300: #a4b2bc,
  400: #91a2ad,
  500: #7d919f,
  600: #758997,
  700: #6a7e8d,
  800: #607483,
  900: #4d6272,
  A100: #d4ecff,
  A200: #a1d5ff,
  A400: #6ebeff,
  A700: #55b3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
