/* For use in src/lib/core/theming/_palette.scss */
$itg-primary: (
  50: #e8eaed,
  100: #c6cad1,
  200: #a0a7b3,
  300: #798394,
  400: #5d697d,
  500: #404e66,
  600: #3a475e,
  700: #323d53,
  800: #2a3549,
  900: #1c2538,
  A100: #7ca2ff,
  A200: #497eff,
  A400: #165aff,
  A700: #0049fc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
