@use '@angular/material' as mat;
@use "primary.palette" as primary;
@use "accent.palette" as accent;

:root {
  --primary: #{ mat.get-color-from-palette(primary.$itg-primary, 500) };
  --primary-light: #b5e48c;
  --primary-light-contrast: #212121;

  --accent: #{ mat.get-color-from-palette(accent.$itg-accent, 500) };
  --accent-light: #ffffff;
  --accent-light-contrast: #212121;

  --warn: #{ mat.get-color-from-palette(mat.$red-palette, 500) };
  --warn-light: #ffffff;
  --warn-light-contrast: #212121;
}

.primary {
  &.color {
    color: var(--primary);
  }
}

.accent {
  &.color {
    color: var(--accent);
  }
}

.warn {
  &.color {
    color: var(--warn);
  }
}
