//https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd
.itg-h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #212121;
}

.itg-h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #212121;
}

.itg-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.itg-body {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.itg-secondary {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

.itg-tertiary {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #767676;
}

.itg-light {
  color: #767676;
}
